
body {
	margin: 0;

	&[account="true"] {
		& nav {
			& .account {
			}
			& .search * {
				display: none;
			}
		}
	}
}

html {
	font-family: Roboto;
	font-size: 14px;
	min-height: 100%;
	position: relative;
}

main {
	display: flex;
}

nav {
	align-items: center;
	background-color: #1F439A;
	display: flex;
	justify-content: center;
	padding: .5rem 1rem;
	position: relative;

	& .account {
		height: 2.5rem;
		transition: ease .1s;
		width: 2.5rem;
	}
	& .account:hover {
		filter: invert(.25);
	}
	& .search {
		display: flex;
		margin: auto;

		& * {
			margin: auto .25rem;
		}
		& button {
			background: no-repeat center url('/image/search.svg');
			background-size: contain;
			border: none;
			cursor: pointer;
			height: 1.7rem;
			width: 1.7rem;
		}
		& input {
			border: .15rem solid rgb(175, 175, 175);
			border-radius: .5rem;
			height: 2.3rem;
			font-size: 1.1rem;
			outline: none;
			padding: 0 .5rem;
			transition: ease .1s border-radius;
			width: 25rem;

			&:focus {
				border-color: rgb(63, 63, 63);
			}
		}
	}
	& .title {
		align-items: center;
		display: flex;
		color: rgb(255, 255, 255);
		font-family: Oswald;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 700;

		& img {
			content: url('/image/logo.png');
			height: 2.5rem;
			padding-right: .7rem;
			width: 2.5rem;
		}
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.center {
	margin: auto;
}

.item {
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, .2) 0px 0px 7px;
	color: inherit;
	padding: 1rem;
	text-decoration: none;
	transition: ease .2s box-shadow;
	
	&:hover {
		box-shadow: rgba(0, 0, 0, .1) 0px 0px 5px;
	}
	
	& img.item-img {
		height: 10rem;
		width: 10rem;
	}
}

.item-grid {
	display: grid;
	gap: 1rem;
	/* grid-auto-columns: min-content; */
	padding: 5rem 10rem;
	/* width: 100%; */
}

.login {
	display: flex;
	padding: .5rem;

	& h3 {
		font-family: Oswald;
		margin-left: auto;
		margin-right: auto;
	}
}

.section {
	background-color: rgb(171, 171, 171);
	border-radius: 1rem;
}